*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.navbar{
display: flex;
align-items: center;
padding: 20px;
}
nav{
flex: 1;
text-align: right;
}
nav ul{
display: inline-block;
list-style: none;
}
nav ul li{
display: inline-block;
margin-right: 20px;
}
a{
text-decoration: none;
color: #555
}
p{
  color: #555
}
.container{
  max-width: 1200;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.text{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}
.childtext{
flex-basis: 50%;
min-width: 300px;
}
.childtext img{
max-width: 100%;
padding: 50px 0;
}
.childtext h1{
font-size: 50px;
line-height: 60px;
margin: 25px 0;
}
.button{
display: inline-block;
background-color: coral;
color: white;
margin: 30px 0;
padding: 8px 30px;
border-radius: 30px;
transition: background 1s;
}
header{
  background: radial-gradient(white, lightgreen);
height: 100vh;

}
header .text{
margin-top: 60px;
}
body{
  font-family: 'Zen Dots', cursive;
}
.button:hover{
background: red;
}
.second-container{
  margin: 70px 0;
}
.child-pictures{
flex-basis: 30%;
min-width: 250px;
margin-bottom: 30px;
}
.child-pictures img{
  width: 100%;
}
.small-container{
max-width: 1200px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.four-pics{
  flex-basis: 25%;
padding: 10px;
min-width: 200px;
margin-bottom: 50px;
transition: transform 1s;
}
.four-pics:hover{
transform: translateY(-10px);
}
.four-pics img{
 width: 100%;
}
.title{
text-align: center;
margin: 0 auto 80px;
position: relative;
line-height: 60px;
color: coral
}
.title:after{
content: '';
background: lightblue;
width: 290px;
height: 6px;
border-radius: 5px;
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%)
}
.fa{
color: red
}
.four-pics p{
font-size: 15px;
}
.offer{
background: radial-gradient(coral,white);

padding:30px 0;
}
footer{
  margin: 100px auto;
  background: radial-gradient(coral, white)

}
.brands{
  width: 150px;
}
.brands img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.brands img:hover{
  filter: grayscale(0);
}